<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Muestra Usuario</title>
</head>
<body>
    <div class="container">
        <form action="/create" method="post" class="col-6 mx-auto">
            <h1>Muestra Usuario</h1>
            <div class="form-group">
                <label for="first_name">Nombre</label>: {{user.first_name}}
            </div>
            <div class="form-group">
                <label for="last_name">Apellido</label>: {{user.last_name}}
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>: {{user.email}}
            </div>
            <div class="form-group">
                <label for="classroom_id">Clase/Salón</label>: {{user.classroom.name}}
            </div>
            <a href="/" class="btn btn-primary">Regresar</a>
        </form>
    </div>
</body>
</html>